@model Kurs.Models.StudentClass

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card-wrapper">
                <!-- Custom form validation -->
                <div class="card" style="direction:rtl">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0"> اضاف درس جديد</h3>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                            
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PeriodID, "الفصل", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("PeriodID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PeriodID, "", new { @class = "text-danger" })
                                    </div>
                                </div>  
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClassID, "الصف", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TeacherID, "الاستاذ", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("TeacherID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TeacherID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CoursID, "الدرس", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("CoursID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CoursID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<button class="btn btn-success hidden" style="display:none;" data-toggle="notify" id="success" data-placement="top" data-align="center" data-type="success" data-icon="ni ni-bell-55">Success</button>

<button class="btn btn-warning hidden" style="display:none;" id="error" data-toggle="sweet-alert" data-sweet-alert="warning">Warning alert</button>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@if (TempData["success"] != null)
{

    <script type="text/javascript">
        $(function () {
            $.notify({
                title: 'تمت العملية بنجاح',
                message: '.'

            }, {
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    type: 'success'
                });

            // Click on the checkbox
        });
    </script>
}

@if (TempData["error"] != null)
{
    <script type="text/javascript">
        $(function () {
            $.notify({
                title: 'حدث خطاء',
                message: 'يرجى تكرار العميلة .'

            }, {
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    type: 'danger'
                });

            // Click on the checkbox
        });
    </script>
}