@model Kurs.Models.StudentClass

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StudentClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
